body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    font-size: 42px;
    padding: 15px;

}
h2 {
    color: #0D0D0D;
    font-size: 30px;
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed 10px #FFFFFF;

}

div {
    height: 125px;
    padding: 20px;
}
